.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.gre_yoko {
    display: flex;
}

.bl_tate {
    display: block;
    /* width: auto; */
    /* min-width: 5cm; */
    /* background-color: #61dafb; */
    /* padding: 20px; */
    /* margin: 10px; */
    /* border-radius: 5px; */
    border: 1px solid cyan;
    border-radius: 10px;
}

.hight-center {
    padding: 2px;
    width: auto;
    /* box-sizing: border-box; */
}

p {
    margin: 0%;
    font-size: medium;
}

.passed {
    background-color: rgb(19, 59, 19);
}

.failed {
    background-color: rgb(46, 25, 25);
}