.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.gre_yoko {
    display: flex;
}

.bl_tate {
    display: block;
    border: 1px solid cyan;
    border-radius: 10px;
}

.con {
    margin: 0%;
}

.hight-center {
    padding: 2px;
}

p {
    width: 100px;
    margin: 0%;
    font-size: medium;
}

.last-leaf {
    width: 400px;
}

.passed {
    background-color: rgba(0, 69, 90);
}

.expect {
    background-color: rgb(89, 90, 0);
}

.failed {
    background-color: rgba(90, 41, 0);
}