.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Upload-Comp {
  display: flex;
}

.App-Upload {
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.selectList {
  background-color: #282c34 !important;
}

.App-main {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.gre_yoko {
  display: flex;
}

.bl_tate {
  display: block;
  margin: 1px;
  border: 1px solid cyan;
  border-radius: 15px;
  background-clip: border-box;
}

a:link {
  color: white;
}

a:visited {
  color: cyan;
}

.con {
  margin: 0%;
}

.hight-center {
  padding: 2px;
}

p {
  width: 100px;
  margin: 0% !important;
  font-size: medium;
}

.last-leaf {
  width: 400px;
}

.passed.bl_tate {
  background-color: rgba(0, 69, 90);
}

.expect.bl_tate {
  background-color: rgb(89, 90, 0);
}

.failed.bl_tate {
  background-color: rgba(90, 41, 0);
}

/*********** footerDetail ***********/
.footer-detail-container {
  margin-top: 2cm;
  /* position: absolute !important; */
  bottom: 0 !important;
  width: 100%;
  background-color: #535353;
  display: flex;
  flex-direction: column;
}

.footer-detail-container--inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

label {
  height: auto;
  /* padding: 10px 25px; */
  /* margin: 0 0 10px; */
  /* background: #aaa; */
  color: #fff;

  display: inline-block;
  cursor: pointer;
}
